.ig{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,#fd5949 45%, #d6249f 60%, #285aeb 90%);
    height: 150px;
    width: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.inner{
    height: 90px;
    width: 90px;
    border: solid white 15px;
    display: flex;
    border-radius: 30px;
  justify-content: center;
  align-items: center;
    
}
body{
    background-color: black;
    
}
.in{
    height: 30px;
    width: 30px;
    border-radius: 200px;
    border: solid white 15px;
    
}
.dot{

    height: 2px;
    width: 2px;
    border: solid white 5px;
    position: absolute;
    left: 110px;
    top: 49px;
    border-radius: 100px;
    background-color: white;
}