div{
    position: relative;
    background-color: red;
    
    width: 20px;
    height: 20px;
    animation:delay 4s linear 1s infinite;
}
@keyframes delay{
    0%{
        background-color: red;top: 0px;left: 0px;
    }
    25%{
        background-color: yellow;top: 0px;left: 20px;
    }
    50%{
        background-color: purple;top: 20px;left: 20px;
    }
    75%{
        background-color: blue;top: 20px;left: 0px;

    }
    100%{
        background-color: red;top: 0px;left:0px;
    }
}
