*{
    box-sizing: border-box;
    font-weight: bold;
    margin: 2px;
    
}
div{
   
    width: 200px;
    height: 100px;
    background-color: red;

    position: relative;
    animation: mymove 5s infinite alternate;
}
.linear{
    animation-timing-function: linear;
}
.ease{
    animation-timing-function: ease;
}
.ease-in{
   animation-timing-function: ease-in;
}
.ease-out{
    animation-timing-function: ease-out;
}
.ease-in-out{
   animation-timing-function: ease-in-out;
}
@keyframes mymove{
     from{left: 0%;}
     to{
        left: 50%;
     }
}