:root{
    --background-color: #111;
    --text-color: #ff9696;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    
}
h1,h2,h3,h4,h5,h6,p,ul,li,span{
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
    color: var(--text-color);
}
.container>.inside-container >p, .container>p{
    color: yellow;
}
li+li+li{
    color: red;
}
ul~p{
    color:black;
}