*{
    margin: 0;
    padding: 0;
}
li{
    display: block;
    list-style-type: none;
    
    
}
nav{
    display: flex;
    background-color: rgb(183, 175, 175);
    width: 120px;
    padding: 0;
    justify-content: center;
    align-items: center;

}

a{
    margin-bottom: 20px;
    padding: 20px;
    gap: 2px;
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: skyblue;
    width: 80px;
    color: white;
}
a:active{
    background-color: aqua;
    color: black;
}
body{
    display: grid;
    justify-content: center;
    align-: center;
}