h2{
    color: crimson;
    background-color: chocolate;
   
}

p{
    background-color: lightsteelblue;
    color: rgb(71, 37, 37);
    opacity: 1;
}
.container{
    background-color: rgb(192, 182, 43);
   
}
body{
    background-image: url(https://plus.unsplash.com/premium_photo-1673306778968-5aab577a7365?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat:no-repeat;I
    background-position: right;
   /* background-attachment: fixed;*/
   background-size: cover;
   
}