body{
    background-image: url(https://th.bing.com/th/id/OIP.Frk_N_mThpNANRGYatljgwHaHa?w=182&h=182&c=7&r=0&o=5&pid=1.7);
    background-repeat: no-repeat;
    background-position:right center;
    background-color: black;
    color: beige;
    background-size: contain;
}